@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");
@font-face {
  font-family: "BrandonGrotesque-Black";
  src: url(fonts/BrandonGrotesque-Black.ttf);
  font-weight: bolder;
}
@font-face {
  font-family: "BrandonGrotesque-Bold";
  src: url(fonts/BrandonGrotesque-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "BrandonGrotesque-Regular";
  src: url(fonts/BrandonGrotesque-Regular.ttf);
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

a:link,
a:visited,
a:hover,
a:active,
a {
  text-decoration: none;
  color: white;
}

body {
  background-color: #f5f6f7;
  font-family: "open sans";
  overflow-x: hidden;
  /* overflow-y: hidden; */
 }

/*------------------------ header ----------------------------- */

header {
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: #022b3a;
  width: 100vw;
  height: auto;
  /* font-weight: 500; */
  font-size: 1.3em;
}

.header-wrapper {
  font-family: "BrandonGrotesque-Regular";
  width: 90vw;
  margin: 0px auto;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 100% 1fr;
  grid-template-areas: "area1 area2" "area3 area3";
  color: white;
  height: 8vh;
  /* text-transform: uppercase; */
}

.header-area-1 {
  grid-area: area1;
  display: flex;
  align-items: center;
}

.header-area-2 {
  grid-area: area3;
  display: none;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

#nav-icon3 {
  grid-area: area2;
}

.header-area-2 a {
  background: #022b3a;
  /* width: 100%; */
  align-self: center;
  display: flex;
  padding: 0 10px;
  height: 100%;
  align-items: center;
}

.header-area-2 a:hover {
  background-image: url(img/blueBox.png);
  background-repeat: no-repeat;
  animation-name: b-move;
  animation-duration: 0.6s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  background-size: 100% 100%;
}
#nav-portfolio:hover {
  background-image: url(img/greyBox2.png);
}
#nav-about:hover {
  background-image: url(img/greyBox1.png);
}

@keyframes b-move {
  0% {
    background-position: 0% 900px;
    color: white;
  }
  50% {
    background-position: 0% 50px;
    color: white;
  }
  100% {
    background-position: 0% 0px;
    color: #022b3a;
  }
}

/* ---------------------header-icon--------------------------- */

/*nav icon*/
.showNav {
  display: flex;
}

#nav-icon3 {
  display: block;
  width: 20px;
  height: 20px;
  position: relative;
  margin: auto;
  margin-right: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #ffbf3f;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 9px;
}

#nav-icon3 span:nth-child(4) {
  top: 18px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.showNav {
  display: block;
}

/*------------------------ index----------------------------- */

.body-index {
  background: #ffbf3f;
  margin: 0;
}

.main-wrapper-index {
  width: 100vw;
  margin-top: 0px;
  color: white;
  display: flex;
  flex-direction: column;
}

main {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.main-wrapper-index-area2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: 10px auto;
  color: white;
  text-align: right;
}

.main-wrapper-index-area1 {
  /* width: 100vw; */
  min-height: 40vh;

  position: relative;
  margin-left: 20%;
  margin-top: 10%;
  margin-right: auto;
  margin-bottom: 20%;
}

.main-wrapper-index-area1 {
  /* grid-area: area1 */
  width: 50vw;
  position: relative;
  margin-left: 0%;
  margin-top: 0%;
}

.main-wrapper-index-area2 h1{
  font-family: "BrandonGrotesque-Regular"
}
.main-wrapper-index-area1 #puzzel_1 {
  display: block;
  width: 50vmin;
  /* margin: 20% auto auto 10%; */
  top: 27vmin;
  left: 22vmin;
  transform: rotate(15deg);
  position: absolute;
  z-index: 0;
  /* opacity: 0.6; */
}

.main-wrapper-index-area1 #puzzel_1a,
.main-wrapper-index-area1 #puzzel_1c {
  display: none;
  width: 54.1vmin;
  /* margin: 20% auto auto 10%; */
  top: 27vmin;
  left: 20vmin;
  transform: rotate(15deg);
  position: absolute;
  z-index: 0;
}
.main-wrapper-index-area1 #puzzel_1b {
  display: none;
  width: 27vmin;
  /* margin: 20% auto auto 10%; */
  top: 42.1vmin;
  left: 28.9vmin;
  /* opacity: 0.2; */
  transform: rotate(15deg);
  position: absolute;
  z-index: 0;
}

.main-wrapper-index-area1 #puzzel_2 {
  /* display: block; */
  width: 28.1vmin;
  position: absolute;
  z-index: 1;
  top: 55vmin;
  left: 47vmin;
  /* top: 55.1vmin;
  left: 43vmin;
  transform: rotate(15deg); */
}

@keyframes animation1 {
  from {
    top: 52vmin;
    left: 21vmin;
  }
  to {
    top: 55.1vmin;
    left: 43vmin;
    transform: rotate(15deg);
  }
}

.puzzleAnimate1 {
  animation-name: animation1;
  animation-duration: 0.5s;
  animation-delay: -2s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.puzzleAnimate2 {
  animation-name: animation2;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

@keyframes animation2 {
  from {
    top: 42.1vmin;
    left: 28.9vmin;
  }
  to {
    /* transform: rotate(15deg); */
    top: -310px;
    left: 885px;
  }
}

.cloud {
  width: 50px;
  position: absolute;
  z-index: 10;
  top: 40vw;
  left: 0vw;
  animation: cloudMoving 50s linear infinite;
}
#cloud-2 {
  top: 20vw;
  animation-duration: 50s;
}
#cloud-3 {
  animation: cloudMoving 10s linear forwards;
  top: 30vw;
  left: 70vw;
}
@keyframes cloudMoving {
  /* from {
    left: 0vw;
  } */
  to {
    left: 100vw;
  }
}
@keyframes cloudMoving2 {
  0% {
    left: 60vw;
  }
  50% {
    left: 100vw;
  }
  70% {
    display: none;
    left: 0vw;
  }
  100% {
    display: block;
    left: 60vw;
  }
}
/*----------------------- portfolio ------------------------- */
.portfolioSection {
  background: #e7e9ea;
}

.portfolio-wrapper {
  scroll-snap-type: y mandatory;

  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  width: 90vw;
  margin: 20px auto;
}

.box,
.boxPortfolio {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  height: 60vh;
}

.box > *,
.boxPortfolio > * {
  width: 80%;
  margin: auto;
  display: block;
  height: 15%;
}

.box button,
.boxPortfolio button {
  background-color: #022b3a;
  margin: 20px 0 0px auto;
  border-radius: 30px;
  border: none;
  color: white;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 14px;
  align-self: flex-end;
}

.portfolio-wrapper img {
  display: block;
  width: 95%;
  height: 50%;
  object-fit: cover;

  overflow: hidden;
  margin: 20px auto;
}
/*----------------------- contact ------------------------- */
.contactSection {
  scroll-snap-type: y mandatory;

  background: #235789;
  color: white;
}

.wrapper-contact {
  display: grid;
  grid-template-rows: 40% 1fr;
  grid-template-areas: "area1" "area2";
  width: 80vw;
  height: 100vh;
  margin: auto;
  scroll-snap-type: y mandatory;
}

.wrapper-contact img {
  display: block;
  width: 80%;
  padding-top: 10%;
  margin: 20% auto;
}

.wrapper-contact-area1 {
  grid-area: area2;
  margin: 10% auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper-contact-area1 h1 {
  text-align: center;
  font-family: "BrandonGrotesque-Regular";
  letter-spacing: 3px;
}

.someLinks img {
  display: inline-block;
  width: 50px;
  margin: 2vw 2vw 2vw 0;
}

.contactDetails img {
  /* display: inline-block; */
  width: auto;
  height: 30px;
  margin: 2vw 2vw 2vw 0;
  display: flex;
  align-self: center;
  padding-top: 0;
}
.contactDetails h3 {
  display: flex;
  align-self: center;
  text-decoration: none;
}
.contactDetails a {
  text-decoration: none;
  color: black;
  width: auto;
}

.contactDetails div {
  display: flex;
}
.contactDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.someLinks {
  display: flex;
  flex-direction: row;
  align-self: center;
}
.wrapper-contact-area2 {
  grid-area: area1;
  width: 100%;
}

input {
  display: block;
  width: 100%;
  margin: 30px auto;
  height: 40px;
  background: #022b3a;
  border: none;
  color: white;
}
textarea {
  max-width: 100%;
  min-width: 100%;
  background: #022b3a;
  height: 50%;
  border: none;
}
input::placeholder,
textarea::placeholder {
  color: white;
  font-size: 1.2em;
  padding: 5px;
}
/*------------------------ about ---------------------------- */
.aboutSection {
  background: #f5f6f7;
}
.main-wrapper-about {
  display: grid;
  grid-template-areas:
    "area1"
    "area2"
    "area3"
    "area4"
    "area6"
    "area5"
    "area7"
    "area8";
  width: 80vw;
  margin: 50px auto;
}
.main-wrapper-about h2:first-child {
  grid-area: area1;
}
.main-wrapper-about-area1 {
  grid-area: area2;
}
.main-wrapper-about-area2 {
  grid-area: area3;
}
.main-wrapper-about h2:nth-child(4) {
  grid-area: area4;
}
.main-wrapper-about-area3 {
  grid-area: area5;
}
.main-wrapper-about-area4 {
  grid-area: area6;
}
.main-wrapper-about-area5 {
  grid-area: area7;
}
.main-wrapper-about-area6 {
  grid-area: area8;
}
.main-wrapper-about-area1 {
  width: 100%;
}
.main-wrapper-about-area2 {
  width: 100%;
  /* font-size: 22px;
  color: #235789; */
}
.main-wrapper-about img {
  display: block;
  width: 50%;
  margin: auto;
}
@media all and (min-width: 600px) {
  .main-wrapper-index {
    display: flex;
    flex-direction: row;
  }

  .main-wrapper-index h1 {
    font-size: 1em;
  }

  .main-wrapper-index-area2 {
    width: 50%;
  }
  .main-wrapper-index p {
    font-size: 0.5em;
  }

  .boxPortfolio {
    height: 100vh;
  }
  .portfolio-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

/*------------------------ project ----------------------------- */

.projectSection {
  /* height: 100vh; */
  background: #e7e9ea;
  padding: 10vh 0px;
}
.projectSectionWP {
  width: 90vw;
  margin: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px 0px;
}
.closeModal {
  margin: auto 3% 3% auto;
  display: block;
  width: 30px;
  height: 30px;
  background-color: #022b3a;
  border: none;
  border-radius: 50px;
  color: white;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  /* font-family: "BrandonGrotesque-Regular"; */
}
.closeModal:hover {
  background: #e7e9ea;
  color: #022b3a;
}
.openProject {
  background-color: #022b3a;
  margin: 20px 0 0px auto;
  border-radius: 30px;
  border: none;
  color: white;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 14px;
  align-self: flex-end;
}
.projectSectionWP-area0 {
  width: 100%;
}
.projectSectionWP-area1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  padding: 14px;
}

.projectSectionWP-area1 button {
  display: block;
  width: 50%;
 }
.projectSectionWP-area1 p,
.projectSectionWP-area1 h1 {
  margin: 0px;
}
.projectSectionWP-area2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.projectSectionWP > * {
  box-sizing: border-box;
}

.projectSectionWP img {
  /* vertical-align: middle; */
  display: block;
  border: 1px solid #e7e9ea;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.projectSectionWP .cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 33.33%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.projectSectionWP .active,
.projectSectionWP .demo:hover {
  opacity: 1;
}
}
.hide {
display: none;
}
.show {
display: block;
}


/* ---------------------------------------------------------DESKTOP-------------------------------------------------------------- */
@media all and (min-width: 991px) {
  .aboutSection,
  .portfolioSection,
  .contactSection {
    padding-top: 10vh;
  }
  /*------------------------ header desktop----------------------------- */
  #nav-icon3 {
    grid-area: area3;
    display: none;
  }
  .header-area-2 {
    grid-area: area2;
    display: flex;
  }

  .header-wrapper {
    width: 70vw;
    margin: 0px auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 100% 1fr;
    grid-template-areas: "area1 area2" "area3 area3";
    color: white;
    height: 8vh;
    /* text-transform: uppercase; */
  }
  /*------------------------ about desktop----------------------------- */
  .aboutSection {
    background: #f5f6f7;
  }
  .main-wrapper-about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70vw;
    margin: 0px auto;
    justify-content: space-between;
  }
  .main-wrapper-about h5 {
    font-size: 1.2em;
  }

  .main-wrapper-about h2 {
    width: 100%;
    font-family: "BrandonGrotesque-Regular";
    font-size: 2.5em;
    text-align: center;
    color: #022b3a;
    margin-top: 20px;
  }
  .main-wrapper-about p {
    font-size: 1.2em;
  }

  .main-wrapper-about-area1,
  .main-wrapper-about-area2,
  .main-wrapper-about-area3,
  .main-wrapper-about-area4,
  .main-wrapper-about-area5,
  .main-wrapper-about-area6 {
    position: relative;
    width: 45%;
    margin: 30px auto;
    color: #235789;
    display: flex;
    flex-direction: column;
  }

  .main-wrapper-about img {
    display: block;
    width: 50%;
    margin: auto;
  }
  .main-wrapper-about-area1 img {
    margin-left: 0px;
  }
  .main-wrapper-about-area4 img {
    margin-right: 0px;
  }
  .main-wrapper-about-area5 img {
    margin-left: 0px;
  }

  @keyframes movePointer {
    0% {
      transform: rotate(0deg);
    }
    20% {
      transform: rotate(-360deg);
    }

    100% {
      transform: rotate(-360deg);
    }
  }
  /* .main-wrapper-about-area2 {
    width: 50%;
    margin: 50px;
    font-size: 22px;
    color: #235789;
  } */
  /*------------------------ index desktop----------------------------- */

  .main-wrapper-index {
    display: flex;
    width: 80vw;
    height: 100vh;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
  }

  .main-wrapper-index-area1 {
    min-height: 100vh;
  }
  .main-wrapper-index-area2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 50px;
    font-size: 22px;
    color: white;
    text-align: left;
  }
  
  .main-wrapper-index-area2 h1{
    font-size: 3em;
    font-family: "BrandonGrotesque-Regular"
  }

  .main-wrapper-index-area2 p{
    font-size: 1em;
  }
  .cloud {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 10vw;
    left: 0vw;
    animation: cloudMoving 50s linear infinite;
  }
  #cloud-2 {
    top: 20vw;
    animation-duration: 150s;
  }
  #cloud-3 {
    animation: cloudMoving 10s linear forwards;
    top: 30vw;
    left: 70vw;
  }

  @keyframes cloudMoving {
    /* from {
      left: 0vw;
    } */
    to {
      left: 100vw;
    }
  }
  @keyframes cloudMoving2 {
    0% {
      left: 60vw;
    }
    50% {
      left: 100vw;
    }
    70% {
      display: none;
      left: 0vw;
    }
    100% {
      display: block;
      left: 60vw;
    }
  }
  .main-wrapper-index-area1 {
    /* grid-area: area1 */
    width: 50vw;
    position: relative;
    margin-left: 0%;
    margin-top: 0%;
  }

  .main-wrapper-index-area1 #puzzel_1 {
    display: block;
    width: 50vmin;
    /* margin: 20% auto auto 10%; */
    top: 20vmin;
    left: 22vmin;
    transform: rotate(15deg);
    position: absolute;
    z-index: 0;
    /* opacity: 0.6; */
  }

  .main-wrapper-index-area1 #puzzel_1a,
  .main-wrapper-index-area1 #puzzel_1c {
    /* display: block; */
    width: 54.1vmin;
    /* margin: 20% auto auto 10%; */
    top: 20vmin;
    left: 20vmin;
    transform: rotate(15deg);
    position: absolute;
    z-index: 0;
  }
  .main-wrapper-index-area1 #puzzel_1b {
    /* display: block; */
    width: 27vmin;
    /* margin: 20% auto auto 10%; */
    top: 35.1vmin;
    left: 28.9vmin;
    /* opacity: 0.2; */
    transform: rotate(15deg);
    position: absolute;
    z-index: 0;
  }

  .main-wrapper-index-area1 #puzzel_2 {
    /* display: block; */
    width: 28.1vmin;
    position: absolute;
    z-index: 1;
    top: 48vmin;
    left: 47vmin;
    /* top: 55.1vmin;
    left: 43vmin;
    transform: rotate(15deg); */
  }

  /* .main-wrapper-index-area1 #puzzel_2:hover {
  transform: rotate(15deg);
  top: 322px;
  left: 210px;
} */
  /* 
.main-wrapper-index-area1 #puzzel_2:hover {
  animation-name: animation1;
  animation-duration: 0.5s;
  animation-delay: -2s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
} */

  @keyframes animation1 {
    from {
      top: 45vmin;
      left: 21vmin;
    }
    to {
      top: 48.1vmin;
      left: 43vmin;
      transform: rotate(15deg);
    }
  }

  .puzzleAnimate1 {
    animation-name: animation1;
    animation-duration: 0.5s;
    animation-delay: -2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
  }

  .puzzleAnimate2 {
    animation-name: animation2;
    animation-duration: 4s;
    animation-fill-mode: forwards;
  }

  @keyframes animation2 {
    from {
      top: 35.1vmin;
      left: 28.9vmin;
    }
    to {
      /* transform: rotate(15deg); */
      top: -310px;
      left: 1000px;
    }
  }
  /*------------------------ desktop portfolio----------------------------- */

  .portfolio-wrapper {
    scroll-snap-type: y mandatory;

    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    width: 70vw;
    margin: 20px auto;
  }

  .box,
  .boxPortfolio {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 50vh;
  }

  .box > *,
  .boxPortfolio > * {
    width: 90%;
    margin: 0px auto;
    display: block;
  }

  .box button,
  .boxPortfolio button {
    background-color: #022b3a;
    margin: 20px 0 20px auto;
    border-radius: 30px;
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 14px;
    align-self: flex-end;
  }

  .portfolio-wrapper img {
    display: block;
    max-width: 90%;
    height: 60%;
    object-fit: cover;

    overflow: hidden;
    margin: 20px auto;
  }

  .portfolio-wrapper p {
    font-size: 0.8em;
  }

  .portfolio-wrapper h1 {
    font-size: 1em;
  }
  /*------------------------ contact desktop----------------------------- */

  .wrapper-contact {
    display: flex;
    flex-direction: row;
    width: 70vw;
    height: 100vh;
    margin: auto;
    scroll-snap-type: y mandatory;
  }

  .wrapper-contact img {
    display: block;
    width: 80%;
    padding-top: 0;
    margin: 30% auto;
  }

  .wrapper-contact h1 {
    text-align: left;
  }
  .wrapper-contact-area1 {
    margin: 10% auto;
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .someLinks img {
    display: inline-block;
    width: 50px;
    margin: 2vw 2vw 2vw 0;
  }

  .contactDetails img {
    /* display: inline-block; */
    width: auto;
    height: 40px;
    padding-top: 0;
    margin: 2vw 2vw 2vw 0;
  }
  .contactDetails h3 {
    display: block;
    align-self: center;
  }

  .contactDetails {
    display: block;
  }
  .someLinks {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
  }
  .contactDetails div {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
  .wrapper-contact-area2 {
    margin: 10% auto;

    width: 50%;
  }
  /*------------------------ project desktop----------------------------- */

  .projectSection {
    height: 100vh;
    background: #e7e9ea;
    padding: 10vh 0px;
  }
  .projectSectionWP {
    width: 70vw;
    margin: auto;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px 0px;
  }
  .closeModal {
    margin: auto 3% 3% auto;
    display: block;
    width: 30px;
    height: 30px;
    background-color: #022b3a;
    border: none;
    border-radius: 50px;
    color: white;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    /* font-family: "BrandonGrotesque-Regular"; */
  }
  .closeModal:hover {
    background: #e7e9ea;
    color: #022b3a;
  }
  .openProject {
    background-color: #022b3a;
    margin: 20px 0 0px auto;
    border-radius: 30px;
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 14px;
    align-self: flex-end;
  }
  .projectSectionWP-area0 {
    width: 100%;
  }
  .projectSectionWP-area1 {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    padding: 0px;

  }

  .projectSectionWP-area1 button {
    display: block;
    width: 50%;
  }
  .projectSectionWP-area1 p,
  .projectSectionWP-area1 h1 {
    margin: 0px;
  }
  .projectSectionWP-area2 {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .projectSectionWP > * {
    box-sizing: border-box;
  }

  .projectSectionWP img {
    /* vertical-align: middle; */
    display: block;
    border: 1px solid #e7e9ea;
  }

  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }

  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  /* Add a pointer when hovering over the thumbnail images */
  .projectSectionWP .cursor {
    cursor: pointer;
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Six columns side by side */
  .column {
    float: left;
    width: 33.33%;
  }

  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }

  .projectSectionWP .active,
  .projectSectionWP .demo:hover {
    opacity: 1;
  }
}
.hide {
  display: none;
}
.show {
  display: block;
}
